.header {
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
}

.nav {

  &__list {
    display: flex;
    // justify-content: space-between;
  }
}
